body {
  background-color: #ddd;
  font-size: 16px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 1.5;
}

.loading-message {
  display: block;
}

.hidden-message {
  display: none;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px;
}

button {
  border: none;
  font-family: inherit;
  background-color: #00476a;
  color: #ddd;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
}

.grass-type {
  color:  #69C23D;
}

.fire-type {
  color: #ED6D12;
}

.water-type {
  color: #4578ED;
}
